---
layout: default
---
{% include parallax.html image_webp="/assets/images/pexels-photo-219016.webp" image_jpeg='/assets/images/pexels-photo-219016.jpeg' title="HOME" %}
<div class="container">
    {%- if site.posts.size > 0 -%}
    <h2>{{ page.list_title | default: "News" }}</h2>
    <ul>
        {%- for post in site.posts -%}
        <li>
            {%- assign date_format = "%b %-d, %Y" -%}
            <span>{{ post.date | date: date_format }}</span>
            <h3>
                <a href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h3>
            {%- if site.show_excerpts -%}
            {{ post.excerpt }}
            <a href="{{ post.url | relative_url }}">Continue reading...</a>
            {%- endif -%}
        </li>
        {%- endfor -%}
    </ul>
    {%- endif -%}
</div>
