---
layout: default
---
{% include parallax.html image="/assets/images/pexels-photo-145707.webp" title="MUSIC" %}
<div class="container">
    <div class="row">
        <div class="col m6 l6">
            <h5>Studio Albums</h5>
            {% assign category = "studio-albums" %}
            {% include music-collection.html %}
            <h5>Splits</h5>
            {% assign category = "splits" %}
            {% include music-collection.html %}
            <h5>EPs</h5>
            {% assign category = "eps" %}
            {% include music-collection.html %}
            <h5>Live Albums</h5>
            {% assign category = "live-albums" %}
            {% include music-collection.html %}
            <h5>DVDs</h5>
            {% assign category = "dvds" %}
            {% include music-collection.html %}
            <h5>Books</h5>
            {% assign category = "books" %}
            {% include music-collection.html %}
            <h5>Singles & Music Videos</h5>
            {% assign category = "singles-and-music-videos" %}
            {% include music-collection.html %}
        </div>
        <div class="col m6 l6">
            side content
        </div>
    </div>
</div>